html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.container {
  display: inline-flex;
  flex-wrap: wrap;
  height: 250px;
  width: 250px;
}
.crossword-square {
  border: 2px solid;
  height: 50px;
  width: 50px;
}

.blank-square {
  background-color: black;
  height: 50px;
  width: 50px;
}